name: 'work'

on:
  pull_request:
      types:
        - closed
  push:
    paths:
      - '.github/workflows/**'
      - 'src/**'
      - 'build.gradle'
      - 'Dockerfile'
    branches:
      - 'main'
      
jobs:
  update:
    name: 프로젝트 버전 업데이트
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Save PR labels to file
        run: echo '${{ toJson(github.event.pull_request.labels) }}' > pr_labels.json
      
      - name: Determine Version Increment
        id: vars
        run: |
          LABELS=$(jq -r '.[].name' pr_labels.json | tr '\n' ' ')
          echo "Detected Labels: $LABELS"
          if echo $LABELS | grep -q "major"; then
            echo "Detected major label"
            echo "::set-output name=INCREMENT::major"
          elif echo $LABELS | grep -q "minor"; then
            echo "Detected minor label"
            echo "::set-output name=INCREMENT::minor"
          elif echo $LABELS | grep -q "patch"; then
            echo "Detected patch label"
            echo "::set-output name=INCREMENT::patch"
          else
            echo "No version label detected"
            echo "::set-output name=INCREMENT::"
          fi

      - name: Grant execute permissions for gradlew
        run: chmod +x ./gradlew
      
      - name: Update Project Version with Gradle
        env:
            GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        if: steps.vars.outputs.INCREMENT
        run: |
          ./gradlew updateVersion -Pincrement=${{ steps.vars.outputs.INCREMENT }}
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add .
          git commit -m "chore: update project version based on PR label"
          git push
  build:
    name: 이미지 빌드 및 도커허브 푸시
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: application-secret.yml 생성
        env:
          ACTIONS_STEP_DEBUG: true
          APPLICATION_SECRET: ${{ secrets.APPLICATION_SECRET_YML }}
        run: echo "$APPLICATION_SECRET" > src/main/resources/application-secret.yml
      - name: jdk 17 설치
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'
      - name: gradlew 실행 권한 부여
        run: chmod +x gradlew
      - name: gradle 빌드
        run: ./gradlew build --no-daemon
      - name: build 폴더를 캐시에 저장
        uses: actions/upload-artifact@v3
        with:
          name: build-artifact
          path: build
          retention-days: 1 
      - name: 도커 이미지 빌드 및 푸시
        run: |
          docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}
          docker build -t ${{ secrets.DOCKER_REPO }}/withfestival .
          docker push ${{ secrets.DOCKER_REPO }}/withfestival
  deploy:
    name: 원격 서버에 배포
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: 원격 서버에 배포하기
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: 2226
          script: |
            docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}
            docker stop withfestival_app || true
            docker rm withfestival_app || true
            docker pull ${{ secrets.DOCKER_REPO }}/withfestival
            docker run --name=withfestival_app --network docker-net --restart unless-stopped \
            -p 80:8080 -e TZ=Asia/Seoul -d ${{ secrets.DOCKER_REPO }}/withfestival
